.comp-section-index-main{
  position: relative;
  width: 100%;
  height: var(--wHeightPx);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  @include flexSet;
  justify-content: center;
  align-items: center;
  background: $keyColor;
  &::before{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    position: absolute;
    z-index: 10;
    background: rgba($keyColor, 0.4);
  }
  .title_wrap{
    @include wrapper;
    position: relative;
    z-index: 20;
    color: $fontColorWhite;
    padding-bottom: 0px;
    .site_ttl{
      font-size: 2.3rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
      margin-bottom: 7px;
    }
    .main_button{
      width: 50%;
      max-width: 160px;
      display: block;
      margin: 25px 0 0;
      a{
        position: relative;
        @include flexSet;
        align-items: center;
        color: inherit;
        background: linear-gradient(to right, #27E2CC, #0EC0EC 50%,  #0077FF 100%);
        padding: 12px 25px;
        border-radius: 200px;
        overflow: hidden;
        color: $keyColor;
        &::before{
          display: block;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top:0;
          left:0;
          background: linear-gradient(to left, #27E2CC, #0EC0EC 50%,  #0077FF 100%);
          z-index: 5;
          opacity:0;
          transition: opacity .5s;
          will-change: opacity;
        }
        .txt{
          position: relative;
          z-index: 10;
          font-size: 1.4rem;
          padding-right: 6px;
        }
        .caret{
          width: 12px;
          position: relative;
          z-index: 10;
          .cls-1{
            fill: none;
            stroke: $keyColor;
            stroke-width: 2px;
            stroke-miterlimit: 10;
          }
        }
        &:hover{
          &::before{
            opacity: 1;
          }
        }
      }
    }
  }
  .main_movie_wrap{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    video{
      opacity: 0;
      filter:blur(10px);
      transition: opacity .5s, filter .5s;
      will-change: opacity, filter;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      min-height: 100%;
      min-width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-size: cover;
      &.pc_movie{
        display: none;
      }
    }
    &.loaded{
      video{
        opacity: 1;
        filter:blur(0px);
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-section-index-main{
    align-items: center;
    height: 100vh;
    max-height: 56vw;
    &::before{
      background: rgba($keyColor, 0.4);
    }
    .title_wrap{
      @include wrapper;
      position: relative;
      z-index: 20;
      color: $fontColorWhite;
      padding-bottom: 0px;
      .site_ttl{
        font-size: 4.2rem;
        margin-bottom: 10px;
      }
      .main_button{
        max-width: 220px;
        margin-top: 30px;
        a{
          padding: 15px 0;
          justify-content: center;
        }
      }
    }
    .main_movie_wrap{
      display: block;
      video{
        max-width: 100%;
        &.sp_movie{
          display: none;
        }
        &.pc_movie{
          display: block;
        }
      }
    }
  }
}
