.comp-section-case-list{
  padding: 40px 0 60px;
  .usecase_ttl_wrap{
    @include flexSet;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    .usecase_ttl{
      font-size: 2rem;
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 980px){
  .comp-section-case-list{
    padding: 100px 0 80px;
    .usecase_ttl_wrap{
      margin-bottom: 60px;
      .usecase_ttl{
        font-size: 3.2rem;
        font-weight: 400;
      }
    }
  }
}
