.comp-case-index{
  padding: 20px 20px 10px;
  background: #fff;
  .index_ttl{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .index_wrapper{
    .index_item{
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #d8d8d8;
      button{
        width: 100%;
        @include flexSet;
        align-items: center;
        justify-content: space-between;
        color: inherit;
        .txt{
          font-size: 1.3rem;
          padding-right: 10px;
        }
        .caret{
          display: block;
          width: 6px;
          height: 6px;
          border-bottom: 1px solid $fontColor;
          border-right: 1px solid $fontColor;
          transform: translate(0, -2px) rotate(45deg);
          transition: all .5s;
        }
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-case-index{
    border-top: 0px solid $fontColor;
    margin-top: 20px;
    padding: 20px 0 0;
    background: transparent;
    .index_ttl{
      text-align: left;
      font-size: 1.8rem;
      margin-bottom: 30px;
    }
    .index_wrapper{
      .index_item{
        margin-bottom: 12px;
        padding-bottom: 12px;
        button{
          justify-content: flex-start;
          transition: color .3s;
          will-change: color;
          .txt{
            font-size: 1.4rem;
            padding-right: 10px;
          }
          .caret{
            display: block;
            width: 6px;
            height: 6px;
            transform: translate(0,1px) rotate(-45deg);
            transition: all .5s;
          }
          &:hover{
            color: #646464;
            .caret{
              border-color: #646464;
            }
          }
        }
      }
    }
  }
}
