.comp-support-list{
  .support_item{
    position: relative;
    padding-top: 20px;
    margin-bottom: 40px;
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
    &::before{
      display: block;
      content: "";
      position: absolute;
      top:0;
      left:0;
      width: 100px;
      height: 2px;
      background: linear-gradient(to right, #27E2CC, #0EC0EC 50%,  #0077FF 100%);
    }
    .itemn_ttl{
      font-size: 2.0rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 12px;
    }
    .item_desc{
      @include basicP;
    }
  }
}

@media screen and (min-width: 980px){
  .comp-support-list{
    .support_item{
      position: relative;
      padding-top: 25px;
      margin-bottom: 50px;
      &::before{
        width: 100px;
        height: 3px;
      }
      .itemn_ttl{
        font-size: 2.4rem;
        margin-bottom: 12px;
      }
    }
  }
}
