footer{
  padding: 50px 0;
  background: $bgColor;
  .footer_inner{
    @include wrapper;
    .footer_logo{
      width: 220px;
      margin: 0 auto 20px;
      a{
        display: block;
        img{
          width: 100%;
        }
      }
    }
    .footer_content{
      .footer_navigation{
        margin-bottom: 30px;
        ul{
          display: block;
          li{
            position: relative;
            margin: 5px 0;
            a{
              display: block;
              text-align: center;
              font-size: 1.5rem;
              line-height: 1.6;
              color: $keyColor;
              padding: 5px 0;
            }
          }
        }
      }
      .copyright_wrap{
        text-align: center;
        ul{
          li{
            margin: 5px 0;
            a{
              text-align: center;
              font-size: 1.3rem;
              line-height: 1.6;
              color: $keyColor;
              padding: 5px 0;
            }
          }
        }
        .copyright{
          margin-top: 25px;
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 980px){
  footer{
    padding: 60px 0;
    background: $bgColor;
    .footer_inner{
      @include flexSet;
      align-items: center;
      justify-content: space-between;
      .footer_logo{
        width: 240px;
        margin: 0;
        a{
          @include hover;
        }
      }
      .footer_content{
        .footer_navigation{
          margin-bottom: 15px;
          ul{
            @include flexSet;
            justify-content: flex-end;
            li{
              position: relative;
              margin: 0;
              margin-right: 15px;
              padding-right: 15px;
              &::after{
                display: block;
                content: "";
                position: absolute;
                top:0;
                bottom:0;
                right: 0;
                margin: auto;
                width: 1px;
                height: 12px;
                background: $keyColor;
              }
              a{
                @include hover;
                display: block;
                text-align: center;
                font-size: 1.7rem;
                line-height: 1.6;
                color: $keyColor;
                padding: 5px 0;
              }
              &:nth-last-of-type(1){
                margin-right: 0;
                padding-right: 0;
                &::after{
                  display: none;
                }
              }
            }
          }
        }
        .copyright_wrap{
          text-align: center;
          @include flexSet;
          justify-content: flex-end;
          align-items: center;
          ul{
            @include flexSet;
            align-items: center;
            li{
              position: relative;
              margin: 0;
              margin-right: 15px;
              padding-right: 15px;
              &::before{
                display: block;
                content: "";
                position: absolute;
                top:0;
                bottom:0;
                right: 0;
                margin: auto;
                width: 1px;
                height: 12px;
                background: $keyColor;
              }
              a{
                text-align: center;
                font-size: 1.2rem;
                line-height: 1.6;
                color: $keyColor;
                padding: 5px 0;
              }
            }
          }
          .copyright{
            margin-top: 0px;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
